.button1 {
    background-color: #333;
    color: #fff;
    padding: 15px 60px;
    width: 30px;
    height: 50px;
}

.button2 {
    background-color: #ff0000;
    color: #fff;
    padding: 15px 125px;
    width: 30px;
    height: 50px;
}
input[type="text"]{
    font-size: 150%;
}
